<!-- Modal privacy -->
<div class="modal fade rules" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacyLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">Privacy Policy</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu eslementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal Terms of Use -->
<div class="modal fade rules" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true" style="z-index: 1051;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">Terms of Use</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal Affiliates -->
<div class="modal fade rules" id="affiliates" tabindex="-1" role="dialog" aria-labelledby="affiliatesLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">Affiliates</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>	
<!-- Modal About Us -->
<div class="modal fade rules" id="about" tabindex="-1" role="dialog" aria-labelledby="aboutLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">About Us</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal Support -->
<div class="modal fade rules" id="support" tabindex="-1" role="dialog" aria-labelledby="supportLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">Support</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal Licencing -->
<div class="modal fade rules" id="licencing" tabindex="-1" role="dialog" aria-labelledby="licencingLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">Licencing</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal Help & FAQ -->
<div class="modal fade rules" id="faq" tabindex="-1" role="dialog" aria-labelledby="faqLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">Help & FAQ</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal chat -->
<div class="modal fade rules" id="modalChat" tabindex="-1" role="dialog" aria-labelledby="chatLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fal fa-times"></i>
				</button>
				<span class="title">Trollbox</span>
				<img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/chat_m.png" alt="">
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal Bets -->
<div class="modal fade bets" id="modalBets" tabindex="-1" role="dialog" aria-labelledby="BetsLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="bets">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fal fa-times"></i>
				</button>
				<span class="title">Bets</span>

				<!-- table -->
				<div class="table-bets">
					<nav class="betsSwitch">
						<a href="#table1Mob" class='active'>All Bets</a>
						<a href="#table2Mob">My Bets</a>
						<a href="#table3Mob">High Rollers</a>
					</nav>
	
					<table id="table1Mob">
						<thead>
							<tr>
								<th>Bet ID</th>
								<th>User</th>
								<th>Profit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
						</tbody>
					</table>
					<table id="table2Mob" style="display: none;">
						<thead>
							<tr>
								<th>Bet ID</th>
								<th>Profit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>37,130,345,345</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>-3.6000000</td>
							</tr>
						</tbody>
					</table>
					<table id="table3Mob" style="display: none;">
						<thead>
							<tr>
								<th>Bet ID</th>
								<th>User</th>
								<th>Profit</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
							<tr>
								<td>37,130,345,345</td>
								<td>lutohan01</td>
								<td>-3.6000000</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal BetHistory -->
<div class="modal fade history" id="modalHistory" tabindex="-1" role="dialog" aria-labelledby="historyLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="history">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fal fa-times"></i>
				</button>
				<span class="title">Search your Betting History</span>
					<div class="date-range">
						<span class="from">From : <a href="javascript:;" class="datepicker">10/10/2018</a></span>
						<span class="to">To : <a href="javascript:;" class="datepicker">08/29/2019</a></span>
					</div>

					<a href="#" class="btn">Generate results</a>

					<span class="show">Show 
						<select class="form-control" id="filter">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							</select>
						records per page
					</span>
					<table class="basic">
						<thead>
							<tr>
								<th>Bet</th>
								<th>Profit</th>
								<th>Previous Balance</th>
								<th>Return Balance</th>
								<th>Date</th>
								<th>Game</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>01/11/2019</td>
								<td>54</td>
								<td>2</td>
								<td>2</td>
								<td>1,500 mBTC</td>
								<td>1,000 mBTC</td>
							</tr>
							<tr>
								<td>01/11/2019</td>
								<td>54</td>
								<td>2</td>
								<td>2</td>
								<td>1,500 mBTC</td>
								<td>1,000 mBTC</td>
							</tr>
							<tr>
								<td>01/11/2019</td>
								<td>54</td>
								<td>2</td>
								<td>2</td>
								<td>1,500 mBTC</td>
								<td>1,000 mBTC</td>
							</tr>
							<tr>
								<td>01/11/2019</td>
								<td>54</td>
								<td>2</td>
								<td>2</td>
								<td>1,500 mBTC</td>
								<td>1,000 mBTC</td>
							</tr>
						</tbody>
					</table>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal rules -->
<div class="modal fade rules" id="modalRules" tabindex="-1" role="dialog" aria-labelledby="rulesLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<div class="rules">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="fal fa-times"></i>
					</button>
					<span class="title">Rules</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tristique posuere interdum. Maecenas facilisis, magna eu 
						fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, 
						ut scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada 
						congue. Proin porttitor facilisis rutrum.</p>
		
					<p>Nullam odio felis, imperdiet at purus at, aliquam mattis nibh. Pellentesque ornare lacus nunc, sit ametscelerisque risus semper 
						eget. Vivamus vestibulum, lacus ac fringilla elementum, neque purus feugiat velit, sit amet mollis ante eros vel nisl. 
						Nunc id leo in sem euismod ullamcorper. Sed dapibus enim sed sapien tempus euismod. Donec metus nulla, feugiat nec dui in, 
						faucibus convallis nulla. In ac tortor ac erat ornare ultrices eu vitae ligula. Sed semper nisi vitae leo ornare lacinia.</p>
					
					<p>Donec quis bibendum mi, eu elementum neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Ut tristique posuere interdum. Maecenas 
						facilisis, magna eu fringilla vestibulum, velit elit aliquam velit, vitae iaculis augue enim eu ex. Fusce lacinia orci non odio dapibus, ut 
						scelerisque diam eleifend. Morbi facilisis justo a suscipit tincidunt. Donec tincidunt tristique turpis, nec faucibus quam malesuada congue.
							Proin porttitor facilisis rutrum.</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- Modal autoplay -->
<div class="modal fade" id="modalAutoplay" tabindex="-1" role="dialog" aria-labelledby="autoplayLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-body">
			<form class="autoplay">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fal fa-times"></i>
				</button>
				<span class="title">AUTOPLAY SETTINGS</span>
				<p>Number of Bets</p>
				
				<div class="range">
					<div id="slider">
						<div id="custom-handle" class="ui-slider-handle"></div>
					</div>
					<div class="value"></div>
				</div>

				<div class="buttons autoplaySwitch">
					<button class="cancel">Cancel</button>
					<button class="ok">Ok</button>
				</div>
			</form>
		</div>
		</div>
	</div>
</div>
<!-- Modal deposit-->
<div class="modal deposit fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <div class="login">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fal fa-times"></i>
                </button>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-deposit-tab" data-toggle="tab" href="#nav-deposit" role="tab" aria-controls="nav-deposit" aria-selected="true">Deposit</a>
                        <a class="nav-item nav-link" id="nav-withdraw-tab" data-toggle="tab" href="#nav-withdraw" role="tab" aria-controls="nav-withdraw" aria-selected="false">Withdraw</a>
                    </div>
                </nav>
                <!-- <div class="top">
                    <a href="#" class='active' data-toggle="modal" data-target="#depositModal" data-dismiss="modal">Deposit</a>
                    <a href="#" data-toggle="modal" data-target="#withdrawModal" data-dismiss="modal">Withdraw</a>
                </div> -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-deposit" role="tabpanel" aria-labelledby="nav-deposit-tab">
                        <div class="deposit-steps">
                            <div class="step step1">
                                <span class="balance">Balance: xxx mbtc</span>
        
                                <div class="select-coins">
                                    <span class="title">Select coin to deposit:</span>
        
                                    <ul class="coins">
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/bitcoin.png" alt="BTC" width="60">
                                                </div>
                                                <span>BTC</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/tokenpay.png" alt="TPAY" width="60">
                                                </div>
                                                <span>TPAY</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/ethereum.png" alt="ETH" width="60">
                                                </div>
                                                <span>ETH</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/litecoin.png" alt="LTC" width="60">
                                                </div>
                                                <span>LTC</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/verge.png" alt="VRG" width="60">
                                                </div>
                                                <span>VRG</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/tron.png" alt="TRX" width="60">
                                                </div>
                                                <span>TRX</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/ripple.png" alt="XRP" width="60">
                                                </div>
                                                <span>XRP</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/zcash.png" alt="ZEC" width="60">
                                                </div>
                                                <span>ZEC</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/moreno.png" alt="XMR" width="60">
                                                </div>
                                                <span>XMR</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/dash.png" alt="DASH" width="60">
                                                </div>
                                                <span>DASH</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/dogecoin.png" alt="DOGE" width="53">
                                                </div>
                                                <span>DOGE</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/neo.png" alt="NEO" width="60">
                                                </div>
                                                <span>NEO</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/binance.png" alt="BNB" width="60">
                                                </div>
                                                <span>BNB</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/eos.png" alt="EOS" width="60">
                                                </div>
                                                <span>EOS</span>
                                            </a>
                                        </li>
                                    </ul>
        
                                    <button id="step2">Proceed</button>
                                </div>
                            </div>
                            <div class="step step2" style="display: none;">
                                <div class="amount">
                                    <span class="title">Amount to deposit</span>
                                    <div class="input">
                                        <i>Etherium</i>
                                        <input type="text" placeholder="1234">
                                    </div>
                                    <span>Added to your account: <b>XXX mBTC</b></span>
            
                                    <div class="buttons">
                                        <button class="back" id="step1">Back</button>
                                        <button id="step3">Proceed</button>
                                    </div>
                                </div>
                            </div>
                            <div class="step step3" style="display: none;">
                                <span class="title">Make your deposit</span>
                                <p>This is the Wallet Address you will use to send your funds. Scan the QRCode. Or copy the Deposit Wallet Address:</p>
                                
                                <div class="deposit">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="text" value="3JDFELRdDXB9vYkB9g7tq8nu2VJQuo7BVq">
                                                <button><i class="far fa-copy"></i></button>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" value="Amount to send: BTC 1">
											</div>
											<img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/qr.png" alt="QR code" class="img-fluid d-md-none">

                                            <button id="step4">I made my deposit</button>
                                        </div>
                                        <div class="col-md-4 d-none d-md-block">
                                            <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/qr.png" alt="QR code" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step step4" style="display: none;">
                                <div class="wait">
                                    <p class="small">Please Wait While We Confirm Your Deposit</p>
                                    <div class="loader">
                                        <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/loader.png" alt="">
                                    </div>
                                    <p class="small">Your deposit will be instantly credited to your accountas soon as it has been confirmed x times.
                                        <a href="#">Click here</a> to check the status of your deposit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-withdraw" role="tabpanel" aria-labelledby="nav-withdraw-tab">
                        <div class="withdraw-steps">
                            <div class="step step1">
                                <div class="select-coins no-border">
                                    <span class="title">Select a withdrawal method:</span>
        
                                    <ul class="coins">
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/bitcoin.png" alt="BTC" width="60">
                                                </div>
                                                <span>BTC</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="logo">
                                                    <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/depositcoins/ethereum.png" alt="ETH" width="60">
                                                </div>
                                                <span>ETH</span>
                                            </a>
                                        </li>
                                    </ul>
            
                                    <button id="step2" class="wide">Next</button>
            
                                    <p>For your security, automated withdrawals are limited to (2) 10 mBTC payouts per day, for a total of 20 mBTC.
                                            Withdrawals over these amounts are processed twicea day at x UTC and x UTC.</p>
                                    <p>If your withdrawal is not in BTC, the exchange rate will reflect the price received atthe time of processing. </p>
                                </div>
                            </div>
                            <div class="step step2" style="display: none;">
                                <div class="amount">
                                    <div class="left">
                                        <span class="balance">Balance: XXX mBTC</span>
                                        <div class="form">
                                            <span class="label">Amount to withdraw:</span>
                                            <div class="form-group">
                                                <input type="text" value="xxx mBTC">
                                            </div>
                                            <span class="label">BTC Wallet</span>
                                            <div class="form-group">
                                                <input type="text" placeholder="Paste Wallet Address">
                                                <button><i class="far fa-copy"></i></button>
                                            </div>
                                            
                                            <button id="step3">Next</button>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <p>Make sure that your Ethereum (ETH) wallet address is correct. If you enter the wrong wallet address, 
                                            your funds cannot be recovered and we won’t be able to assist you with this. By selecting this withdrawal 
                                            option you will receive ETH at a favorable rate in exchange for your mBTC balance.</p>
        
                                        <p>NOTE: Withdrawals are Automated, wallet-to-wallet, up to 10 mBTC per transaction. Users can receive up to 2 
                                            Automated withdrawals per 24 hour period. For your security, larger withdrawals are manually approved within 24
                                                hours or less. There is no withdrawal maximum or limit.</p>
                                            
                                        <p>Manually approved withdrawals are processed twice a day, at 03:00 and 15:00 (UTC).</p>
                                    </div>
                                </div>
                            </div>
                            <div class="step step3" style="display: none;">
                                <div class="wait">
                                    <p>Please Wait While We Process Your Withdrawal</p>
                                    <div class="loader">
                                        <img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/loader.png" alt="">
                                    </div>
                                    <p>Status: Insert whatever the current status is. You will receivean email as soon as your withdrawal has been processed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="links-outside">
                    <a href="#">Want to buy Bitcoin?</a>
                    <span>powered by: <span><img src="http://localhost/crbcb_binary_client/bitcoinbet/bitcoinbet/img/cointeller.png" alt=""></span></span>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>